body, h2, li, ul {
    padding: 0;
    margin: 0;
}
#nav {
    margin: 10px;
}
ul#nav {
    list-style-type: none;
    background: black;
    height: 43px;
    color: #fff;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

#nav h2 {
    font-size: 20px;
    padding: 5px;
}

li#nav-1:hover > ul#nav-2 {
    display: block;
}

ul#nav li {
    float: left;
    padding: 10px;
    position: relative;
}

ul#nav-2 {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    top: 40px;
    left: 5px;
}

ul#nav-2 li:hover {
    background: #cccccc;
}

ul#nav-2 li{
    background: white;
    float: inherit;
    color: black;
    list-style-type: none;
    padding-top: 5px ;
}

ul#nav-3 {
    position: absolute;
    display: none;
    right: -90px;
    padding-left: 10px;
    top: 0px;
}

ul#nav-2 li:hover > ul#nav-3 {
    display: block;
}

ul#nav-3:hover 


